<div class="container h-100 mt-5 ">
  <div style="height: 100% ">
    <div class="flex-center flex-column mt-5">
      <h1 class=" xl-12 text-center zoomIn mb-3 mt-2" [ngClass]="{'animated': weatherService.checkIfEmpty()}">Sprawdź
        pogodę w
        twoim mieście.
      </h1>
      <form class="form-inline justify-content-center rotateIn delay-1s w-100 mb-3" [ngClass]="{'animated': weatherService.checkIfEmpty()}">
        <i class="fa fa-search mr-2" aria-hidden="true"></i>
        <input class="form-control" type="text" placeholder="Szukaj" aria-label="Szukaj" style="width: 80%" #searchBox
          (keyup.enter)="sendtoLocalWeather(searchBox.value)">
        <div *ngIf="weatherService.searchError === 404 && searchBox.value" class="mt-3 alert alert-danger animated fadeIn">Nie
          znaleziono lokalizacji!</div>
      </form>

      <div class="row w-100" *ngFor="let x of localWeather" [@dataMove]>
        <div class="col-sm-12 text-center mb-3 animated zoomIn">
          <h4>Pogoda dla {{x.city | titlecase}}:<br></h4>
          <h6>szerokość geograficzna: {{x.coordLong}} oraz długość geograficzna: {{ x.coordLat}}</h6>
          <h6>Data: {{x.date | date:'dd/MM/yy, HH:mm:ss'}}</h6>
        </div>
        <div class="col-sm text-center mx-5 my-2 animated zoomIn align-middle border-0 border-dark z-depth-3" [ngStyle]="{'height': '200px'}">
          <div class="flex-center flex-column py-3">
            <h4 class="mb-3">Temperatura: {{ x.temp | number : '1.2-2'}}&#176;C </h4>
            <mdb-icon *ngIf="x.temp > 0" icon="sun-o" size="5x" [@sunAnim]="weatherService.state" (@sunAnim.done)="weatherService.onEnd($event)"></mdb-icon>
            <mdb-icon *ngIf="x.temp <= 0" icon="snowflake-o" size="5x" [@snowAnim]="weatherService.state"
              (@snowAnim.done)="weatherService.onEnd($event)"></mdb-icon>
          </div>
        </div>
        <div class="col-sm text-center mx-5 my-2 animated zoomIn align-middle border-0 border-dark z-depth-3" [ngStyle]="{'height': '200px'}">
          <div class="flex-center flex-column py-3">
            <h4 class="mb-3">Wiatr: {{ x.wind }}m/s</h4>
            <mdb-icon icon="paper-plane-o" size="5x" [@windAnim]="weatherService.state" (@windAnim.done)="weatherService.onEnd($event)"></mdb-icon>
          </div>
        </div>
        <div class="col-sm text-center mx-5 my-2 animated zoomIn align-middle border-0 border-dark z-depth-3" [ngStyle]="{'height': '200px'}">
          <div class="flex-center flex-column py-3">
            <h4 class="mb-3"> Wilgotność: {{x.humidity}}%</h4>
            <mdb-icon icon=" fa fa-tint" size="5x" [@Anim]="weatherService.state" (@Anim.done)="weatherService.onEnd($event)"></mdb-icon>
          </div>
        </div>
        <div class="col-sm-12 text-center">
          <button class=" animated rotateIn mt-5 mx-5" mdbBtn type="button" rounded="true" color="black" outline="true"
            (click)="sendtoHistoryWeather()" (mouseleave)="checkLog = true" #xxx mdbWavesEffect>Dodaj do historii</button>
        </div>
      </div>
    </div>

  </div>
</div>
